flows_node_red.json
[{"id":"3b084e4b.2c1a42","type":"tab","label":"Work2021-IOT","disabled":false,"info":""},{"id":"ba0d4b19.ffc0f8","type":"http request","z":"3b084e4b.2c1a42","name":"Get_Larissa_P ","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://data.sensor.community/airrohr/v1/sensor/49586/","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":80,"wires":[["ca21cd73.af39c","907ef7c5.df8d68"]]},{"id":"37eb9337.9bc3ec","type":"inject","z":"3b084e4b.2c1a42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"0.1","topic":"a","payload":"","payloadType":"date","x":120,"y":140,"wires":[["ba0d4b19.ffc0f8","6cb0cc1c.9efad4","3f593f73.a2fef"]]},{"id":"a32c5f02.e077","type":"ui_chart","z":"3b084e4b.2c1a42","name":"Sensor Value P10","group":"227ca4f9.b0bb5c","order":1,"width":"5","height":"5","label":"PM10","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":20,"wires":[[]]},{"id":"ca21cd73.af39c","type":"function","z":"3b084e4b.2c1a42","name":"get value PM10","func":"var msg_pm10 = {};\n \nmsg_pm10.payload = Number(msg.payload[0].sensordatavalues[1].value);\nmsg_pm10.topic = \"PM10\";\n \nreturn msg_pm10;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":20,"wires":[["a32c5f02.e077","3f593f73.a2fef"]]},{"id":"6cb0cc1c.9efad4","type":"http request","z":"3b084e4b.2c1a42","name":"Get_Larissa_T_H_P","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://data.sensor.community/airrohr/v1/sensor/49587/","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":200,"wires":[["7a579638.3f1168","b421eabc.5dda98","7eb2cb62.0aef24"]]},{"id":"907ef7c5.df8d68","type":"function","z":"3b084e4b.2c1a42","name":"get value PM2.5","func":"var msg_pm25 = {};\n \nmsg_pm25.payload = Number(msg.payload[0].sensordatavalues[0].value);\nmsg_pm25.topic = \"PM25\";\n \nreturn msg_pm25;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["329c907c.a613e","3f593f73.a2fef"]]},{"id":"7a579638.3f1168","type":"function","z":"3b084e4b.2c1a42","name":"get Temp","func":"var msg_temp = {};\n \nmsg_temp.payload = Number(msg.payload[0].sensordatavalues[0].value);\nmsg_temp.topic = \"Temperature\";\n \nreturn msg_temp;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["3b0de6d8.84147a","3f593f73.a2fef"]]},{"id":"b421eabc.5dda98","type":"function","z":"3b084e4b.2c1a42","name":"get Humidity","func":"var msghum = {};\n \nmsghum.payload = Number(msg.payload[0].sensordatavalues[2].value);\nmsghum.topic = \"Humidity\";\n \nreturn msghum;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":220,"wires":[["9535dd39.b428c","3f593f73.a2fef"]]},{"id":"7eb2cb62.0aef24","type":"function","z":"3b084e4b.2c1a42","name":"get Pressure","func":"var msg_press = {};\n \nmsg_press.payload = Number(msg.payload[0].sensordatavalues[1].value);\nmsg_press.topic = \"Pressure\";\n \nreturn  msg_press;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["d7579cf3.0888a","3f593f73.a2fef"]]},{"id":"329c907c.a613e","type":"ui_chart","z":"3b084e4b.2c1a42","name":"Sensor Value P2.5","group":"227ca4f9.b0bb5c","order":1,"width":"5","height":"5","label":"PM2.5","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":80,"wires":[[]],"inputLabels":["k"]},{"id":"3b0de6d8.84147a","type":"ui_chart","z":"3b084e4b.2c1a42","name":"Sensor Value Temp","group":"227ca4f9.b0bb5c","order":1,"width":"5","height":"5","label":"Temperature °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":160,"wires":[[]],"inputLabels":["k"]},{"id":"9535dd39.b428c","type":"ui_chart","z":"3b084e4b.2c1a42","name":"Sensor Value Hum","group":"227ca4f9.b0bb5c","order":1,"width":"5","height":"5","label":"Humidity %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":220,"wires":[[]],"inputLabels":["k"]},{"id":"d7579cf3.0888a","type":"ui_chart","z":"3b084e4b.2c1a42","name":"Sensor Value Press","group":"227ca4f9.b0bb5c","order":1,"width":"5","height":"5","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":280,"wires":[[]],"inputLabels":["k"]},{"id":"f3c26ce4.12267","type":"sqlite","z":"3b084e4b.2c1a42","mydb":"78ba9c73.eb4c74","sqlquery":"msg.topic","sql":"","name":"Database","x":1080,"y":480,"wires":[["92f1f0ef.b2617"]]},{"id":"c6106b34.26b578","type":"inject","z":"3b084e4b.2c1a42","name":"Create Table Q4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE DATA( TIMESTAMP INT PRIMARY KEY NOT NULL, PM10 INT NOT NULL,PM25 INT NOT NULL,TEMPERATURE INT NOT NULL,HUMIDITY INT NOT NULL,PRESSURE INT NOT NULL)","payload":"","payloadType":"date","x":840,"y":520,"wires":[["f3c26ce4.12267"]],"info":"CREATE TABLE DATA( TIMESTAMP INT PRIMARY KEY NOT NULL, P10 INT NOT NULL,P25 INT NOT NULL,TEMP INT NOT NULL,HUMIN INT NOT NULL,PRESS INT NOT NULL)"},{"id":"3cb4bd2.019e942","type":"function","z":"3b084e4b.2c1a42","name":"Insert data fuction","func":"var msg1 ={}\nvar a = msg.payload.a \nvar value_pm10 = msg.payload.PM10\nvar value_pm25 = msg.payload.PM25 \nvar value_temperature= msg.payload.Temperature\nvar value_humidity = msg.payload.Humidity \nvar value_pressure = msg.payload.Pressure \n\nmsg1.topic =  \"INSERT INTO DATA VALUES (  \" + a + \", \" + value_pm10 + \", \" + value_pm25 + \", \" + value_temperature + \", \" + value_humidity + \", \" + value_pressure + \")\"\nreturn msg1;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":440,"wires":[["aaa7fffb.67435","f3c26ce4.12267"]]},{"id":"92f1f0ef.b2617","type":"debug","z":"3b084e4b.2c1a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":480,"wires":[]},{"id":"58acdfa3.0d102","type":"inject","z":"3b084e4b.2c1a42","name":"Show Data Average","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM AVERAGE_DATA ORDER BY TIMESTAMP ASC LIMIT 100;","payload":"","payloadType":"date","x":820,"y":860,"wires":[["3437073f.376828"]]},{"id":"3437073f.376828","type":"sqlite","z":"3b084e4b.2c1a42","mydb":"78ba9c73.eb4c74","sqlquery":"msg.topic","sql":"","name":"DatabaseShow","x":1060,"y":860,"wires":[["c302029f.e0272"]]},{"id":"aaa7fffb.67435","type":"debug","z":"3b084e4b.2c1a42","name":"InsertDebugg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":360,"wires":[]},{"id":"3f593f73.a2fef","type":"join","z":"3b084e4b.2c1a42","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":120,"wires":[["3cb4bd2.019e942"]]},{"id":"c302029f.e0272","type":"ui_template","z":"3b084e4b.2c1a42","group":"f299017c.823eb","name":"Show my data average","order":5,"width":"18","height":"10","format":"<table style=\"width:100%\">\n  <tr>\n    <th>   Index</th> \n    <th>Timestamp</th>\n    <th>Average PM10</th> \n    <th>Average PM2.5</th>\n    <th>Average Temperature</th>\n    <th>Average Humidity</th>\n    <th>Average Pressure</th>\n\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:490\">\n    <td>       {{$index}}</td>\n    <td> {{msg.payload[$index].TIMESTAMP}}         </td>\n    <td> {{msg.payload[$index].AVERAGE_PM10.toFixed(2)}}             </td> \n    <td> {{msg.payload[$index].AVERAGE_PM25.toFixed(2)}}</td>\n    <td> {{msg.payload[$index].AVERAGE_TEMPERATURE.toFixed(2)}}°C</td> \n    <td> {{msg.payload[$index].AVERAGE_HUMIDITY.toFixed(2)}} %</td>\n    <td> {{msg.payload[$index].AVERAGE_PRESSURE.toFixed(2)}}</td>\n\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1280,"y":860,"wires":[[]]},{"id":"e457c72b.2c7378","type":"inject","z":"3b084e4b.2c1a42","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":true,"onceDelay":"7200","topic":"SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 24","payload":"","payloadType":"date","x":820,"y":640,"wires":[["b82d722a.3965"]]},{"id":"b82d722a.3965","type":"sqlite","z":"3b084e4b.2c1a42","mydb":"78ba9c73.eb4c74","sqlquery":"msg.topic","sql":"","name":"DatabaseSelectData","x":1040,"y":640,"wires":[["414c2337.4702fc","cf6bee60.7723e"]]},{"id":"414c2337.4702fc","type":"debug","z":"3b084e4b.2c1a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":580,"wires":[]},{"id":"cf6bee60.7723e","type":"function","z":"3b084e4b.2c1a42","name":"Avg Function","func":"var msg1 = {}\n\nvar average_PM10 = 0\nvar average_PM25 = 0\nvar average_Humidity = 0\nvar average_Pressure = 0\nvar average_Temperature = 0\n\n\nvar sum_PM10 = 0\nvar sum_PM25 = 0\nvar sum_Humidity = 0\nvar sum_Pressure = 0\nvar sum_Temperature = 0\n\n\nvar index;\nfor (index = 0; index < 20; index++) {\n  sum_PM10 += msg.payload[index].PM10\n  sum_PM25 += msg.payload[index].PM25\n  sum_Temperature += msg.payload[index].TEMPERATURE\n  sum_Humidity += msg.payload[index].HUMIDITY\n  sum_Pressure +=msg.payload[index].PRESSURE\n}\naverage_PM10 = sum_PM10/20\naverage_PM25 = sum_PM25/20\naverage_Humidity = sum_Humidity/20\naverage_Pressure = sum_Pressure/20\naverage_Temperature = sum_Temperature/20\n\n\n\nmsg1.topic =  \"INSERT INTO AVERAGE_DATA VALUES (  \" + msg.payload[0].TIMESTAMP + \", \" + average_PM10 + \", \" + average_PM25 + \", \" + average_Temperature + \", \" + average_Humidity + \", \" + average_Pressure + \")\"\n\n\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":640,"wires":[["b8bcd32.117013","cd84fa49.e8c408"]],"info":"var list = [average_P10,average_P25,average_Humidity,average_Pressure,average_Temperature]\nmsg1 = {payload:list}"},{"id":"b8bcd32.117013","type":"debug","z":"3b084e4b.2c1a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":580,"wires":[]},{"id":"dbef507a.8c7b6","type":"inject","z":"3b084e4b.2c1a42","name":"Create Table Q5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE AVERAGE_DATA( TIMESTAMP INT PRIMARY KEY NOT NULL, AVERAGE_PM10 INT NOT NULL,AVERAGE_PM25 INT NOT NULL,AVERAGE_TEMPERATURE INT NOT NULL,AVERAGE_HUMIDITY INT NOT NULL,AVERAGE_PRESSURE INT NOT NULL)","payload":"","payloadType":"date","x":840,"y":760,"wires":[["37950ca6.720f74"]],"info":"CREATE TABLE AVERAGE_DATA( TIMESTAMP INT PRIMARY KEY NOT NULL, AVERAGE_P10 INT NOT NULL,AVERAGE_P25 INT NOT NULL,AVERAGE_TEMPERATURE INT NOT NULL,AVERAGE_HUMIDITY INT NOT NULL,AVERAGE_PRESSURE INT NOT NULL)"},{"id":"37950ca6.720f74","type":"sqlite","z":"3b084e4b.2c1a42","mydb":"78ba9c73.eb4c74","sqlquery":"msg.topic","sql":"","name":"DatabaseCreateAverage","x":1130,"y":760,"wires":[["cee92976.a440e8"]]},{"id":"cd84fa49.e8c408","type":"sqlite","z":"3b084e4b.2c1a42","mydb":"78ba9c73.eb4c74","sqlquery":"msg.topic","sql":"","name":"DatabaseSaveAvg","x":1510,"y":640,"wires":[["b447c898.0ab978"]]},{"id":"b447c898.0ab978","type":"debug","z":"3b084e4b.2c1a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":580,"wires":[]},{"id":"cee92976.a440e8","type":"debug","z":"3b084e4b.2c1a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":760,"wires":[]},{"id":"227ca4f9.b0bb5c","type":"ui_group","name":"View Values","tab":"7eeafe35.a429d","order":1,"disp":true,"width":"18","collapse":true},{"id":"78ba9c73.eb4c74","type":"sqlitedb","db":"C:\\Users\\W-HAWX\\Downloads\\data.db","mode":"RWC"},{"id":"f299017c.823eb","type":"ui_group","name":"Average Values","tab":"7eeafe35.a429d","order":2,"disp":true,"width":"18","collapse":false},{"id":"7eeafe35.a429d","type":"ui_tab","name":"MyDashBoard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]